@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    margin: 0;
    padding: 0;
}

header {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: #232836;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header nav a {
    color: #232836;
    text-decoration: none;
    margin: 0 10px;
    font-weight: 500;
}

header nav a {
    background: 
      linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255)),
      linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}
  
header nav a:hover,
header nav a:focus {
    background-size: 0 0.1em, 100% 0.1em;
}