<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Page</title>
    <link rel="stylesheet" type="text/css" href="/static/css/header.css">
    <link rel="stylesheet" type="text/css" href="/static/css/image-page.css">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css">

    <script src="https://cdn.jsdelivr.net/npm/js-file-download@0.4.12/file-download.min.js"></script>
</head>
<body>
    <th:block th:replace="~{fragments/header :: header}"></th:block>

    <div class="container">
        <div class="image-card">
            <img th:src="@{${image.url}}" alt="Uploaded Image">
            <div class="image-info">
                <div class="title" th:text="@{${image.title}}">Image Title</div>
                <div class="actions-container">
                    <button th:attr="onclick=|openFullSize('${image.url}')|">
                        <i class="bi bi-zoom-in"></i> View Full Size
                    </button>

   
                    <a th:href="${#strings.replace(image.url, '/upload/', '/upload/fl_attachment/')}" download>
                        <button class="download-button">
                            <i class="bi bi-download"></i> Download
                        </button>
                    </a>                                    
 

                    <button class="like-button" th:attr="onclick=|toggleLike('${image.id}')|">
                        <i id="icon" class="bi bi-heart"></i>
                        <span> Like </span>
                        <span id="likes-amount" th:text="${image.likedByUsers.size()}">0</span>
                    </button>                    
                </div>

                <div class="description" id="description" th:text="@{${image.description}}"></div>

                <a id="toggle-description" class="toggle-description" onclick="toggleDescription()">Read more</a>
            

                <div class="add-comment">
                    <input type="text" placeholder="Add a comment...">
                    <button>Submit</button>
                </div>
                <div class="comments-section">
                    <h3>Comments</h3>
                    <div class="comment">
                        <p><strong>User1:</strong> Amazing artwork!</p>
                    </div>
                    <!-- Другие комментарии -->
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        var isLiked = /*[[${isLikedByCurrentUser}]]*/ false;
        if (isLiked) {
            var icon = document.getElementById("icon");
            icon.classList.replace('bi-heart', 'bi-heart-fill');
        }

        function toggleDescription() {
            var description = document.getElementById('description');
            var toggleButton = document.getElementById('toggle-description');
            if (description.classList.contains('expanded')) {
                description.classList.remove('expanded');
                toggleButton.innerText = 'Read more';
            } else {
                description.classList.add('expanded');
                toggleButton.innerText = 'Read less';
            }
        }

        function openFullSize(url) {
            window.location.href = url;
        }

        function toggleLike(imageId) {
            var likeButton = document.querySelector('.like-button');
            var likeUrl = `/api/images/like/${imageId}`;
            var unlikeUrl = `/api/images/unlike/${imageId}`;

            if (isLiked) {
                fetch(unlikeUrl, {
                    method: 'DELETE', 
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => {
                    if (response.ok) {
                        decrementLikes();
                        isLiked = false; 
                    } else {
                        console.error('Failed to unlike the image');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            } else {
                fetch(likeUrl, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => {
                    if (response.ok) {
                        incrementLikes();
                        isLiked = true; 
                    } else {
                        console.error('Failed to like the image');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }
        }

        function incrementLikes() {
            var icon = document.getElementById("icon");
            icon.classList.replace('bi-heart', 'bi-heart-fill');

            var likesElement = document.getElementById('likes-amount');
            var currentLikes = parseInt(likesElement.textContent);
            likesElement.textContent = currentLikes + 1;
        }

        function decrementLikes() {
            var icon = document.getElementById("icon");
            icon.classList.replace('bi-heart-fill', 'bi-heart');

            var likesElement = document.getElementById('likes-amount');
            var currentLikes = parseInt(likesElement.textContent);
            likesElement.textContent = currentLikes - 1;
        }
    </script>
</body>
</html>
