<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="/static/css/login-reg.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <section class="container forms">
        <div class="form signup">
            <div class="form-content">
                <header>Signup</header>
                <form id="registrationForm">
                    <div class="field input-field">
                        <input type="text" placeholder="Username" class="input" name="username">
                    </div>
                    <div class="field input-field">
                        <input type="email" placeholder="Email" class="input" name="email">
                    </div>
                    <div class="field input-field">
                        <input type="password" placeholder="Create password" class="password" name="password">
                    </div>
                    <div class="field input-field">
                        <input type="password" placeholder="Confirm password" class="password" name="confirmPassword">
                    </div>
                    <div class="field button-field">
                        <button type="submit">Signup</button>
                    </div>
                </form>
                <div class="form-link">
                    <span>Already have an account? <a href="/login" class="link login-link">Login</a></span>
                </div>
            </div>
        </div>
    </section>

    <script src="/static/js/registration.js"></script>
</body>
</html>